html, body {
    height: 100%;
    margin: 0;
}

body {
	margin: 0;
	padding: 0;
    background-color: rgb(247, 237, 227);
    display: table;
    width: 100%; 
}

* {
	margin: 0;
}

.lander {
	font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
    margin-top: 1.5em;
}

.me {
    border: 2px solid;
	border-radius: 50%;
	height: 110px;
}


li > a, .foot > a {
	color: black;
	text-decoration: none;
}

.content > a {
    color: black;
}

ul {
	list-style-type: none;
	padding: 0.6em 10px 0 10px;
	font-size: 1.3em;
	font-weight: 300;
	display: inline-block;
}

li {
	display: inline-block;
	border-bottom: 2px solid #bdc3c7;
	padding: 5px 10px 5px 10px;
	transition: border 0.5s;
}

.current {
    border-bottom: 2px solid;
}

li:hover {
	border-bottom: 2px solid;
}

.content {
    font-family: 'IBM Plex Sans', serif;
    margin: 2em 10em 0 10em;
    font-size: 1.25em;
    font-weight: 300;
    text-align: left;
}

aside > img {
    float: right;
    margin: 15px;
    border-radius: 8px;
    height: 300px;
}

.foot {
    font-size: 1.7em;
    margin-top: 0.3em;
    margin-bottom: 1em;
}

.foot-wrapper {
    text-align: center;
    display: table-footer-group;
}

a > li {
	border-bottom: 2px solid transparent;
	padding: 5px 15px 5px 15px;
}

span {
    font-weight: bold;
}

@media (max-width: 1000px) {
    .content {
        font-size: 1.2em;
        margin: 2em 7em 0 7em;
    }
}

@media (max-width: 900px) {
    .content {
        margin: 2em 6em 0 6em;
    }
}

@media (max-width: 725px) {
    ul {
        font-size: 1.2em
    }
    .content {
        margin: 2em 4em 0 4em;
    }
    aside > img {
        height: 200px;
    }
}

@media (max-width: 615px) {
    ul {
        font-size: 1.1em
    }
    .content {
        font-size: 1.1em;
        margin: 2em 3em 0 3em;
    }
    .foot {
        font-size: 1.6em;
    }
}

@media (max-width: 485px) {
    ul {
        font-size: 1em
    }
    .content {
        font-size: 1em;
        margin: 2em 2em 0 2em;
    }
    .foot {
        font-size: 1.4em;
    }
    a > li {
        padding: 5px 13px 5px 13px;
    }
}

@media (max-width: 428px) {
    aside > img {
        height: 250px;
        float: initial;
    }
    aside {
        text-align: center;
    }
}

@media (max-width: 392px) {
    .me {
        height: 100px;
    }

    ul {
        font-size: 0.9em
    }

    a > li {
        padding: 5px 10px 5px 10px;
    }
}

@media (max-width: 360px) {
    ul {
        padding: 0.6em 6px 0 6px;
    }
    li {
        padding: 5px 7px 5px 7px;
    }
}