body {
	margin: 0;
	padding: 0;
	background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(247, 237, 227) 39.5%, rgba(100,46,122,0.23) 100.2% );
	height: 100vh;
}

* {
	margin: 0;
}

.lander {
	font-family: 'IBM Plex Sans', sans-serif;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	white-space: nowrap;
}

.me {
	border: 2px solid;
	border-radius: 50%;
	height: 180px;
}

.name {
	font-size: 3.1em;
	font-weight: 300;
}

.desc {
	margin-top: 0.8em;
	font-size: 1.2em;
	font-weight: 300;
}

a {
	color: black;
	text-decoration: none;
}

ul {
	list-style-type: none;
	padding: 1em 10px 0 10px;
	font-size: 1.3em;
	font-weight: 300;
	display: inline-block;
}

.current {
    border-bottom: 2px solid;
}

.foot {
	font-size: 1.7em;
}

li {
	display: inline-block;
	border-bottom: 2px solid #bdc3c7;
	padding: 5px 10px 5px 10px;
	transition: border 0.5s;
}

a > li {
	border-bottom: 2px solid transparent;
	padding: 5px 15px 5px 15px;
}

li:hover {
	border-bottom: 2px solid;
}

@media (max-width: 727px) {
	.me {
		height: 160px;
	}

	.name {
		font-size: 2.6em;
	}
	
	.desc {
		font-size: 1em;
		font-weight: 400;
	}
	.nav {
		font-size: 1.2em;
	}
	li {
		padding: 5px 7px 5px 7px;
	}
	a > li {
		padding: 5px 7px 5px 7px;
	}
	.foot {
		font-size: 1.6em;
	}
}


@media (max-width: 482px) {
	.desc {
		font-size: 1em;
	}
	.foot {
		font-size: 1.4em;
		padding: 1.2em 10px 0 10px;
	}
}

@media (max-width: 358px) {
	.nav {
		font-size: 1.15em;
	}
	.desc {
		font-size: 0.98em;
	}
}